.c-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vw;
  height: 87px;
  box-sizing: content-box;

  @media (max-width: $screen-bg) {
    height: 67px;
  }

  @media (max-width: $screen-md) {
    width: calc(100% - 3.5vw - 90px);
  }

  @media (max-width: $screen-sm) {
    width: calc(100% - 3.5vw - 60px);
    height: 57px;
  }

  @media (max-width: $screen-xs) {
    width: calc(100% - 3.5vw - 50px);
    height: 47px;
  }
}

.c-header--bg{
  margin-bottom: 4vw;
}