.c-home-bg{
  display: block;
  height: 100vh;
  padding-top: 90px;
  background: url("images/bg/bg-home--1.jpg")no-repeat 50% 100%;
  background-size: cover;
  position: relative;

  @media (max-width: $screen-lg) {
    padding-top: 8%;
  }
}
