.c-product-item{
  width: 24%;
  padding: 10px;
  margin-bottom: 1.5%;
  background: $white;

  @media (max-width: $screen-md) {
    width: 32%;
  }

  @media (max-width: $screen-sm) {
    width: 49%;
  }
}

.c-product-item--link{
  display: block;
  padding-top: 80%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 70%;
}

.c-product-item--name{
  display: block;
  font-size: 30px;
  font-family: Lato--Light, sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.4em;

  @media (max-width: $screen-xl) {
    font-size: 1.9vw;
  }

  @media (max-width: $screen-md) {
    font-size: 14px;
  }

  @media (max-width: $screen-sm) {
    font-size: 12px;
  }
}

.c-product-item--description{
  display: block;
  font-family: Lato--Light, sans-serif;
  color: $text--grey;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.8em;

  @media (max-width: $screen-xl) {
    font-size: 1.1vw;
  }

  @media (max-width: $screen-bg) {
    font-size: 12px;
  }
}

.c-product-item--cost{
  display: block;
  font-family: Lato--Bold, sans-serif;
  color: $link;

  @media (max-width: $screen-xl) {
    font-size: 1.1vw;
  }

  @media (max-width: $screen-bg) {
    font-size: 12px;
  }
}