<a ui-sref="home" class="c-main-panel--logo" title="OLIOS"></a>

<ul class="c-main-panel--list">
    <li class="c-main-panel--item">
        <a
            ui-sref="home"
            ui-sref-active="active"
            title="Home"
            class="c-main-panel--link c-main-panel--link-home"
        ></a>
    </li>
    <li class="c-main-panel--item">
        <a
            ui-sref="basket"
            ui-sref-active="active"
            title="Basket"
            class="c-main-panel--link c-main-panel--link-basket"
        ></a>
    </li>
    <li class="c-main-panel--item">
        <a
            ui-sref="search"
            ui-sref-active="active"
            title="Search"
            class="c-main-panel--link c-main-panel--link-search"
        ></a>
    </li>
</ul>
