<button
    type="button"
    class="c-menu--btn u-bg-image--size-none"
    ng-class="{'active': $ctrl.activeMenu}"
    ng-click="$ctrl.toggleActiveMenu()"
></button>

<section class="c-menu--body">
    <nav class="c-menu--nav">
        <ul class="c-menu--list">
            <li class="c-menu--item" ng-repeat="category in $ctrl.categories track by $index">
                <a
                    ui-sref="category({slug: category.slug})"
                    class="c-menu--link"
                    ng-click="$ctrl.toggleActiveMenu()"
                >
                    {{category.name}}
                    <span
                        class="c-menu--link-icon u-bg-image--contain"
                        style="background-image: url('{{category.icon}}')"
                    ></span>
                </a>
            </li>
        </ul>
    </nav>
</section>