<h1>OLIOS <span class="u-m--top-reg">NEWEST FURNITURE SHOP TEMPLATE</span></h1>

<a href="/categories" class="c-btn u-m--top-md">VIEW MORE</a>

<style>
    c-test-custom-ngmodel{
        display: block;
        width: 100px;
        line-height: 2;
        margin: 50px auto 0;
        background: #fff;
        border: 1px solid #000;
    }
</style>
<c-test-custom-ngmodel contenteditable="true" ng-model="$ctrl.data"></c-test-custom-ngmodel>
<c-test-custom-ngmodel contenteditable="true" ng-model="$ctrl.data"></c-test-custom-ngmodel>
<!--<input type="text" ng-model="$ctrl.data">-->