$white: #fff;
$black: #000;

// Text
$text: #000;
$text--grey: #c1c1c1;
$text--error: #ca3a50;
$text--success: #4caf50;

// Link
$link: #0023ff;
$link--hover: #0021bf;

// Background
$grey: #fefefe;
$grey--light: #f0f0f0;

// Shadow
$shadow: #dbdbdb;