$value: contain, cover, size-none;

@each $val in $value {
  .u-bg-image--#{$val} {
    background-repeat: no-repeat;
    background-position: 50%;
    @if ($val != size-none) {
      background-size: $val;
    }
  }
}