<section class="u-wrapper u-align--right">
    <div class="u-grid--1of2 u-grid--1of1-md">
        <header class="c-header c-header--bg">
            <h3>Products</h3>

            <p class="c-menu--link">
                {{$ctrl.product.category.name}}
                <span
                    class="c-menu--link-icon u-bg-image--contain"
                    style="background-image: url('{{$ctrl.product.category.icon}}')"
                ></span>
            </p>
        </header>

        <article class="c-product">
            <h4 class="c-product--name">{{$ctrl.product.name}}</h4>
            <p class="c-product--description">{{$ctrl.product.description}}</p>

            <div class="u-align--container">
                <div class="u-grid--1of2 u-grid--1of1-sm">
                    <div class="c-product--cost c-product--pseudo-text" data-text="Cost">
                        {{$ctrl.product.cost | currency: '$' : 0}}
                    </div>
                </div>

                <div class="u-grid--1of2 u-grid--1of1-sm u-white-space--nowrap">
                    <div class="c-product--quantity-block c-product--pseudo-text" data-text="Quantity">
                        <input
                            class="c-product--quantity-input"
                            type="text"
                            maxlength="2"
                            ng-model="$ctrl.quantity"
                        >
                        <span
                            class="c-product--quantity-btn c-product--quantity-btn-plus"
                            ng-click="$ctrl.plusQuantity()"
                        ></span>
                        <span
                            class="c-product--quantity-btn c-product--quantity-btn-minus"
                            ng-click="$ctrl.minusQuantity()"
                        ></span>
                    </div>
                    <button
                        class="c-btn u-vertical-align--top"
                        type="button"
                        ng-click="$ctrl.addToCard($ctrl.product)"
                    >
                        ADD TO CARD
                    </button>
                </div>
            </div>
        </article>
    </div>
</section>

<section
    class="c-product-img"
    style='background-image: url("images/products/{{$ctrl.product.image}}")'
></section>

<section class="c-product-recomended u-align--right">
    <ul class="u-grid--1of2 u-grid--1of1-md u-align--container">
        <li
            class="c-product-recomended--item u-grid--1of3"
            ng-repeat="product in $ctrl.product.productsRecomended"
        >
            <a ui-sref="product({id: product.id})">
                <span
                    class="c-product-recomended--img u-bg-image--contain"
                    style='background-image: url("images/products/{{product.image}}")'
                ></span>
                <span class="c-product-recomended--name">{{product.name}}</span>
                <span class="c-product-recomended--description">{{product.description}}</span>
            </a>
        </li>
    </ul>
</section>