.c-checkout-popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background: transparentize($white, 0.1);
  z-index: 10;
}

.c-checkout-popup--close{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iJiN4NDIxOyYjeDQzQjsmI3g0M0U7JiN4NDM5O18xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwIDEwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMCAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxnPjxsaW5lIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiNjMWMxYzE7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwOyIgeDE9IjAuNSIgeTE9IjAuNSIgeDI9IjkuNSIgeTI9IjkuNSIvPjxsaW5lIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiNjMWMxYzE7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwOyIgeDE9IjkuNSIgeTE9IjAuNSIgeDI9IjAuNSIgeTI9IjkuNSIvPjwvZz48L2c+PC9zdmc+")no-repeat;
  cursor: pointer;
  transition: .3s;

  &:hover{
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iJiN4NDIxOyYjeDQzQjsmI3g0M0U7JiN4NDM5O18xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwIDEwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMCAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxnPjxsaW5lIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiMwMDIzZmY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwOyIgeDE9IjAuNSIgeTE9IjAuNSIgeDI9IjkuNSIgeTI9IjkuNSIvPjxsaW5lIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiMwMDIzZmY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwOyIgeDE9IjkuNSIgeTE9IjAuNSIgeDI9IjAuNSIgeTI9IjkuNSIvPjwvZz48L2c+PC9zdmc+");
  }
}

.c-checkout-popup--form{

}

.c-checkout-popup--label{

}

.c-checkout-popup--input{

}