<button
    type="button"
    class="c-btn"
    ng-click="$ctrl.openPopup()"
>
    Proceed to checkout
</button>

<section class="c-checkout-popup" ng-if="$ctrl.popupShow">
    <button
        type="button"
        class="c-checkout-popup--close"
        ng-click="$ctrl.closePopup()"
    ></button>

    <form
        class="c-checkout-popup--form"
        name="checkoutForm"
        ng-submit="checkoutForm.$valid && $ctrl.submitCheckout()"
        novalidate
    >
        <h2>Checkout</h2>

        <p class="c-checkout-popup--text">Please enter your details below to complete your purchase</p>

        <fieldset class="c-checkout-popup--form-group">
            <input
                class="c-checkout-popup--input"
                type="text"
                name="checkoutName"
                placeholder="Name"
                ng-model="$ctrl.checkoutData.name"
                required
            >
            <div
                class="c-checkout-popup--error-block"
                ng-messages="checkoutForm.$submitted && checkoutForm.checkoutName.$error"
            >
                <p class="c-checkout-popup--error" ng-message="required">Name is required</p>
            </div>
        </fieldset>

        <fieldset class="c-checkout-popup--form-group">
            <input
                class="c-checkout-popup--input"
                type="text"
                name="checkoutPhone"
                placeholder="Phone"
                ng-model="$ctrl.checkoutData.phone"
                required
            >
            <div
                class="c-checkout-popup--error-block"
                ng-messages="checkoutForm.$submitted && checkoutForm.checkoutPhone.$error"
            >
                <p class="c-checkout-popup--error" ng-message="required">Phone is required</p>
            </div>
        </fieldset>

        <fieldset class="c-checkout-popup--form-group">
            <input
                class="c-checkout-popup--input"
                type="email"
                name="checkoutEmail"
                placeholder="Email"
                ng-model="$ctrl.checkoutData.email"
                required
            >
            <div
                class="c-checkout-popup--error-block"
                ng-messages="checkoutForm.$submitted && checkoutForm.checkoutEmail.$error"
            >
                <p class="c-checkout-popup--error" ng-message="required">Email is required</p>
                <p class="c-checkout-popup--error" ng-message="email">Email is incorrect</p>
            </div>
        </fieldset>

        <fieldset class="u-m--top-sm">
            <button
                type="submit"
                class="c-btn u-vertical-align--top"
                ng-disabled="checkoutForm.$submitted && !checkoutForm.$valid"
            >
                Submit
            </button>
            <p class="c-checkout-popup--loader" ng-if="$ctrl.loader && !$ctrl.orders"></p>
            <p class="c-checkout-popup--text u-font-color--black" ng-if="checkoutForm.$submitted && $ctrl.orders">
                Checkout successful!
            </p>
        </fieldset>
    </form>
</section>